doctype
html(lang='en')
  head
    script(src='/public/js/photo-feed.js' type="module" defer)
    meta(charset='utf-8')
    title
  body
    h1 Instagram
    div
      a(href=`/${user.id}`) #{user.userName}'s Profile Page
    //- each picture in pictures
    div
      .feed
        include includes/photo-feed.pug
      //- img(src=picture.fileLocation)
      //- a liked by #{totalLikes}
      //-   each like in likes
      //-     a #{like.User.id},
      //- if (!userLike)
      //-   img#like-button(src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1024px-Heart_coraz%C3%B3n.svg.png')
      //-   form(method="post" action="/api/likes")
      //-     input(type="hidden" name="pictureId" value=`${picture.id}`)
      //-     input(type="hidden" name="userId" value=`${user.id}`)
      //-     button(type="submit") Like!
      //- else
      //-   img(src='https://www.clker.com/cliparts/K/s/1/Z/m/p/grey-heart-hi.png')
      //- div
      //-   each comment in comments
      //-     p #{comment.User.userName} #{comment.content}
      //- div
      //-   form#comment-form(method="post" action="/api/comments")
      //-     input#comment-space(type='text' name='content' placeholder="comment")
      //-     input(type="hidden" name="pictureId" value=`${picture.id}`)
      //-     button(type="submit") Submit Comment

    div
      a(href='/login') Log Out
